[submodule "tp2-programa-o-de-acesso-a-banco-com-python-tp2-igor-santos"]
	path = tp2-programa-o-de-acesso-a-banco-com-python-tp2-igor-santos
	url = git@github.com:IFRN/tp2-programa-o-de-acesso-a-banco-com-python-tp2-igor-santos.git
